body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed
}
.body-content{
    max-width: 900px;
    padding: 50px;
    margin: 100px auto;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,0.1);
    background-color: #fff;
}
.title, .title1{
	font-size: 2em;
    text-align: center;
}
.title1{
	font-weight:700;
	margin-bottom:80px;
}
.menu{
    width: 337px;
    margin: 0 auto;
}
.btn-pk{
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,0.1);
}
.menu span{
    position: relative;
    display: inline-block;
    width: 2px;
    height: 1px;
    margin: 5px;
}
.menu span div{
    position: absolute;
    width: 2px;
    height: 27px;
    top: -10px;
    background-color: #ddd;
}
.hasil{
    font-size:1.4em;
    padding: 20px;
    margin: 20px 0;
    margin-bottom:60px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-left-color: #1b809e;
    border-radius: 3px;
}

.home{
    max-width:750px;
    margin-top:100px;
    color:#000;
    padding: 60px 15px;
    border-radius:5px;
    background-color: #ffffffd6;
}
.home .title, .home .title1{
    width: 550px;
    margin: 0 auto;
}
.home .title1{
    margin-bottom: 50px
}
.home-title{
    font-size: 3em;
    font-weight: 600;
    text-align: center;
}
.home-aksi{
    width: 223.16px;
    margin: 0 auto;
    margin-top: 50px;
}
.form-user{
    height:auto;
    padding: 12px;
    box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,0.1);
}
.btn-user{
    display:block;
    width:100%;
    padding: 12px 0;
    text-align: center;
    font-weight:600;
    border-radius:5px;
    border: 1px solid #ddd;
    box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,0.1);
    background-color: #337ab7;
    color: #fff;
}